

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #E9F5FF 100%), rgba(19, 145, 206, 0.7);
}

.my-logo img {
    width: 54px;
    height: 54px;
}

.my-logo h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #25468A;
}

.collapse a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #25468A;
}


.my-card-body .btn {
    padding: 10px 35px ;
    background: #F7BA0E;
    color: #3B4A6B;

}


.my-card-body {
    margin-top: 116px;
    align-items: center;
}

.my-card-body h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 92px;
    font-weight: 700;
    color: #25468A;
}

.my-card-body h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    color: #3B4A6B;
}

.my-card-body p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #3B4A6B;

}

section .mycard {
    height: 189px;
    width: 100%;
    background-color: #1391CE;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 34px;
}

section .mycard h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #fff;

}

.line {
    height: 8px;
    width: 160px;
    background: #F7BA0E;
    margin: 15px auto;
}

.just h1 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #1391CE;
    margin: 63px 0 16px 0;
}

.presets h5 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 15px;
    color: #25468A;
    text-transform: uppercase;
}

.presets h1 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 24px;
    color: #1391CE;
}

.presets h3 {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    color: #1391CE;
}

.presets p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #4F4F4F;
}

.presets li {
    list-style: none
}

.presets .fa-check-circle {
    height: 20px;
    width: 20px;
    color: #1391CE;
}

.licence h1 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0.01em;
    color: #1391CE;
}

.licence p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #4F4F4F;
}

footer {
    width: 100%;
    background-color: #1391CE;
    padding: 32px 0 58px 0;
}

footer .my-footer {
    border-top: 1px solid #E3E3E3;
    padding-top: 32px;
}


@media (max-width: 767px){

    .flex {
        flex-direction: column-reverse;
    }

}

@media (min-width: 768px) and (max-width: 991px){

    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex .card-img-top {
        height: 450px;
        margin-top: 50px;

    }

}

